
h1 {font-family: メイリオ; color: white; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;}
h3 {font-family: メイリオ; color: white; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;}

.cover1 {	background-size: cover;
	margin: 0 0 0;
	width: 100%;
		  opacity: 0.9;
	background:#fff url(http://katchion.com/assets/img/bg/coruja.jpg) no-repeat center ;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
.height-auto {
	background-size: auto;
}
.width-auto {	background-size: 300px;
}
.contain {	height: auto;
	background-size: contain;
}

.home {	background-size: cover;
	margin: 0 0 0;
	width: 100%;
	  opacity: 0.9;
	background:#fff url(http://katchion.com/assets/img/bg/Coruja2.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


.height-auto {
	background-size: 50% auto;
}
.width-auto {	background-size: auto 100%;
}
.contain {	height: auto;
	background-size: contain;
}

  #btn{
        width: 200px;
        height:200px;
        background: #ef454a;
        border-radius: 50%;
    margin: 30px auto;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-weight: bold;
    font-size: 42px;
    cursor: pointer;
    box-shadow: 0 10px 0 #d1482e;
    user-select: none;
    }
    
    #btn:hover{
        opacity: 0.9;
    }
    
    #btn:active{
    box-shadow: 0 5px 0 #d1483e;
    
    }
   